* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  main {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  
  .caja-login {
  
  }
  
  .caja-login h1 {
  
  }
  
  .formulario-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  
  .formulario-login small {
    text-align: center;
  }
  
  .formulario-login input {
    height: 34px;
  }
  
  .formulario-login button {
    height: 34px;
  }
  
  /* Efecto al pasar encima el mouse */
  .formulario-login button:hover {
    cursor: pointer;
    background: #469F85;
  }
  
  .formulario-login small {
    color: gray;
  }
  
  /* Color de texto de ayuda */
  .formulario-login input::placeholder {
    color: #5AD2AE;
    opacity: 1;
  }