<!DOCTYPE html>
<html lang="en">
<head>
    
  <link rel="stylesheet" href="./styles.css">
  
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="barHerra">
        <h1>BARRA DE HERRAMIENTAS</h1>

    </div>
<div class="caja-celeste">
    <div class="conseg">
        <h2>CONTENIDO SECUNDARIO</h2>
    </div>
    <div class="caja-azul">
        <div class="sub-barherra">
            <h1>SUB BARRA DE HERRAMIENTAS</h1>
            </div>
        <div class="caja-rosa"></div>
    </div>
</div>

</body>
</html>